{% extends "::base.html.twig" %}

{% block title %}MegasoftEntangleBundle:Site:index{% endblock %}

{% block body %}



    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >

                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="index.html"><b>Entangle</b></a>
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li><a href="homepage">Home</a></li>
                    <li><a href="register">Register</a></li>
                    <li class="active"><a href="about">About</a></li>

                </ul>
            </div>
        </nav>

    </div>


<div class="container well">
    <p>Entangle.io is one of the production of MegaSoft-14.</p>
    <p>Entangle is the effort of 22 students in the Software Engineernig course at the <a href="www.guc.edu.eg">German University in Cairo</a> with co-operation with <a href="www.delodi.net">Delodi</a> </p>

</div>
   <div class="container well">
    <div class="row">
        <div class="col-sm-3">

            <!-- normal -->
            <div class="ih-item circle effect1"><a href="https://www.facebook.com/ahmed.ossama.52?fref=ts">
                    <div class="spinner"></div>
                    <div class="img"><img src={{ asset('images/osama.jpg') }} alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Ahmed Ossama</h3>
                            <p>Component One</p>
                        </div>
                    </div></a></div>
            <!-- end normal -->

        </div>
        <div class="col-sm-3">

            <!-- normal -->
            <div class="ih-item circle effect1"><a href="https://www.facebook.com/Alaa.Maher.93?fref=ts">
                    <div class="spinner"></div>
                    <div class="img"><img src={{ asset('images/alaa.jpg') }} alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Alaa Maher</h3>
                            <p>Component Two</p>
                        </div>
                    </div></a></div>
            <!-- end normal -->

        </div>
        <div class="col-sm-3">

            <!-- normal -->
            <div class="ih-item circle effect1"><a href="https://www.facebook.com/amr.elzanaty.3?fref=ts">
                    <div class="spinner"></div>
                    <div class="img"><img src={{ asset('images/amr.jpg') }} alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Amr El-Zanaty</h3>
                            <p>Component Five</p>
                        </div>
                    </div></a></div>
            <!-- end normal -->


            </div>
        <div class="col-sm-3">

            <!-- normal -->
            <div class="ih-item circle effect1"><a href="https://www.facebook.com/eslaMaged">
                    <div class="spinner"></div>
                    <div class="img"><img src={{ asset('images/eslam.jpg') }} alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Eslam Maged</h3>
                            <p>Component Two</p>
                        </div>
                    </div></a></div>
            <!-- end normal -->
        </div>

    </div>
   </div>

    <div class="container well">
        <div class="row">
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="https://www.facebook.com/mohamed.essam.127?fref=ts">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/essam.jpg') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Mohammed Essam</h3>
                                <p>Component Four</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->

            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Heba Aamer</h3>
                                <p>Component One</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->

            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Kareem Wahby</h3>
                                <p>Component One</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->


            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Mahmoud Gamal</h3>
                                <p>Component Two</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->
            </div>

        </div>
    </div>



    </div>
    <div class="container well">
        <div class="row">
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Mansour Saied</h3>
                                <p><Component One</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->

            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Menna Tarek</h3>
                                <p>Component Two</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->

            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Mohamed Ayman</h3>
                                <p>Component Five</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->


            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="https://www.facebook.com/MuhammadBassem1?fref=ts">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Mohamed Bassem</h3>
                                <p>Component One</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->
            </div>

        </div>
    </div>

    <div class="container well">
        <div class="row">
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Mohamed Farghal</h3>
                                <p><Component Three</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->

            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Mohamed Shaban</h3>
                                <p>Component Five</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->

            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Mohamed Zayan</h3>
                                <p>Component Four</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->


            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Mustafa Ahmed</h3>
                                <p>Component Five</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->
            </div>

        </div>
    </div>


    </div>
    <div class="container well">
        <div class="row">
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Mysarah Salah</h3>
                                <p><Component Two</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->

            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Nader Neseim</h3>
                                <p>Component Four</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->

            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="https://www.facebook.com/oa12gb?fref=ts&ref=br_tf">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Omar El-Azazy</h3>
                                <p>Component Two</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->


            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Salma Amr</h3>
                                <p>Component Four</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->
            </div>

        </div>
    </div>

    <div class="container well">
        <div class="row">
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Salma Khaled</h3>
                                <p><Component Three</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->

            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Sara Khodeir</h3>
                                <p>Component Three</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->

            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Mohamed Farghal</h3>
                                <p>Component Three</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->


            </div>
            <div class="col-sm-3">

                <!-- normal -->
                <div class="ih-item circle effect1"><a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src={{ asset('images/avatar.png') }} alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Mohamed Farghal</h3>
                                <p>Component Three</p>
                            </div>
                        </div></a></div>
                <!-- end normal -->
            </div>

        </div>
    </div>




    <div class="ftr">

        <div class="container">
            <div class="row">
                <footer>
                    <div class="pull-left ft_space">
                        <address>
                            <h3>Entangle Inc.</h3>
                            MegaSoft-14 <br>
                            German University in Cairo <br>
                            Cairo <br>
                            Egypt<br>

                            <a href="mailto: Entangle@entangle.io">Entangle@entangle.io</a><br>

                            <a href="mailto: Entangle@entangle.io">Entangle@entangle.io</a><br>

                            <abbr title="Phone">P:</abbr>123-456-789
                        </address>
                    </div>
                    <div class="pull-right ft_space">

                        <img class="img-responsive resize img-circle" src={{ asset('images/avatar.png') }} /> <br>

                        <!-- <img src="{{ asset('bundles/megasoftentanglebundle/images/logo.gif') }}"> -->

                        <p>&nbsp;&nbsp;&nbsp;&copy; &nbsp;&nbsp;&nbsp;   Entangle Inc. 2014</p>

                    </div>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}