<head>
    <meta charset="utf-8">
    <title>Entangle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Entangle Inc, a free app to connect people through tangles of trust.">
    <meta name="author" content="Eslam Maged">
    <!-- css -->
    <link href="{{ asset('bundles/megasoftentangle/css/bootstrap-responsive.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/megasoftentangle/css/style.css') }}" rel="stylesheet" type="text/css">
    <!-- skin color -->
    <link href="{{ asset('bundles/megasoftentangle/color/default.css') }}" rel="stylesheet" type="text/css">
    <!--[if lt IE 7]>
    <link href="{{ asset('bundles/megasoftentangle/css/font-awesome-ie7.css') }}" type="text/css" rel="stylesheet">
    <![endif]-->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('bundles/megasoftentangle/img/enticon.ico') }}">
</head>
<body>
<!-- navbar -->
<div class="navbar-wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- Responsive navbar -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a>
                <h1 class="brand"><a href="index.html">Entangle</a></h1>
                <!-- navigation -->
                <nav class="pull-right nav-collapse collapse">
                    <ul id="menu-main" class="nav">
                        <li><a title="team" href="{{ path('index') }}#about">About</a></li>
                        <li><a title="download" href="{{path('index')}}#download">Download</a></li>
                        <li><a title="register" href="{{ path('index') }}#register">Register</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- spacer section -->
<section class="spacer green">
    <div class="container">
        <div class="row">
            <div class="span12 aligncenter flyUp">
                <h2 class="pagetitle">{{ errorMessage }}</strong></h2>
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->
<footer>
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <ul class="social-networks">
                    <li><a href="#"><i class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
                    <li><a href="https://twitter.com/EntangleIO"><i
                                    class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
                    <li><a href="#"><i class="icon-circled icon-bgdark icon-dribbble icon-2x"></i></a></li>
                    <li><a href="#"><i class="icon-circled icon-bgdark icon-pinterest icon-2x"></i></a></li>
                </ul>
                <p class="copyright">
                    &copy; 2014 Entangle Inc corporate. All rights reserved.
                </p>
            </div>
        </div>
    </div>
    <!-- ./container -->
</footer>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
<!-- jQuery -->
<script src="{{ asset('bundles/megasoftentangle/js/jquery.js') }}"></script>
<!-- nav -->
<script src="{{ asset('bundles/megasoftentangle/js/jquery.scrollTo.js') }}"></script>
<script src="{{ asset('bundles/megasoftentangle/js/jquery.nav.js') }} "></script>
<!-- localScroll -->
<script src="{{ asset('bundles/megasoftentangle/js/jquery.localscroll-1.2.7-min.js') }}"></script>
<!-- bootstrap -->
<script src="{{ asset('bundles/megasoftentangle/js/bootstrap.js') }}"></script>
<!-- prettyPhoto -->
<script src="{{ asset('bundles/megasoftentangle/js/jquery.prettyPhoto.js') }}"></script>
<!-- Works scripts -->
<script src="{{ asset('bundles/megasoftentangle/js/isotope.js') }} "></script>
<!-- flexslider -->
<script src="{{ asset('bundles/megasoftentangle/js/jquery.flexslider.js') }}"></script>
<!-- inview -->
<script src="{{ asset('bundles/megasoftentangle/js/inview.js') }}"></script>
<!-- animation -->
<script src="{{ asset('bundles/megasoftentangle/js/animate.js') }}"></script>
<!-- contact form -->
<script src="{{ asset('bundles/megasoftentangle/js/validate.js') }}"></script>
<!-- custom functions -->
<script src="{{ asset('bundles/megasoftentangle/js/custom.js') }}"></script>
</body>
