<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Entangle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Entangle Inc, a free app to connect people through tangles of trust.">
    <meta name="author" content="Eslam Maged">
    <!-- css -->
    <link href="{{ asset('bundles/megasoftentangle/css/bootstrap-responsive.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/megasoftentangle/css/style.css') }}" rel="stylesheet" type="text/css">
    <!-- skin color -->
    <link href="{{ asset('bundles/megasoftentangle/color/default.css') }}" rel="stylesheet" type="text/css">
    <!--[if lt IE 7]>
    <link href="{{ asset('bundles/megasoftentangle/css/font-awesome-ie7.css') }}" type="text/css" rel="stylesheet">
    <![endif]-->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('bundles/megasoftentangle/img/enticon.ico')}}">
</head>
<body>
<!-- navbar -->
<div class="navbar-wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- Responsive navbar -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a>
                <h1 class="brand"><a href="index.html">Entangle</a></h1>
                <!-- navigation -->
                <nav class="pull-right nav-collapse collapse">
                    <ul id="menu-main" class="nav">
                        <li><a title="team" href="#about">About</a></li>
                        <li><a title="download" href="#download">Download</a></li>
                        <li><a title="register" href="#register">Register</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header area -->
<div id="header-wrapper" class="header-slider">
    <header class="clearfix">
        <div class="logo">
            <img src="{{ asset('bundles/megasoftentangle/img/logo-entangle.png') }}" alt="" />
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="main-flexslider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <p class="home-slide-content">
                                    We will always be <strong>Free</strong>
                                </p>
                            </li>

                            <li>
                                <p class="home-slide-content">
                                    We value <strong>happiness</strong>

                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    Eat Sleep Request
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    <strong>Tangles</strong> of Trust
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
        </div>
    </header>
</div>
<!-- spacer section -->
<section class="spacer green">
    <div class="container">
        <div class="row">
            <div class="span6 alignright flyLeft">
                <blockquote class="large">
                    Entangle is the first step back to a world with more freedom, equality and joy!<cite>Thomas Schindler</cite>
                </blockquote>
            </div>
            <div class="span6 aligncenter flyRight">
                <i class="icon-coffee icon-10x"></i>
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->
<!-- section: team -->
<section id="about" class="section">
<div class="container">
<h4>Who We Are</h4>
<div class="row">
    <div class="span4 offset1">
        <div>
            <h2>We live with <strong>duty!</strong></h2>
            <p>
                We are a group of 22 Computer Science Students. We were really dedicated to get this project done for our Software Engineering course. You can only use Entangle because the 22 of us showed lots of love and passion in the code.
            </p>
        </div>
    </div>
    <div class="span6">
        <div class="aligncenter">
            <img src="{{ asset('bundles/megasoftentangle/img/icons/creativity.png') }}" alt="" />
        </div>
    </div>
</div>
<div id="carousel-example-generic" class="carousel slide" style="margin-top:50px">

<div class="carousel-inner">
<div class=" item active">

    <div class="span2 offset1 flyIn">
        <div class="people">
            <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/osama.jpg') }} " alt="" />
            <h3>Ahmed Ossama</h3>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/Alaa.Maher.93?fref=ts">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/alaa.jpg') }}" alt="" />
                <h3>Alaa Maher</h3></a>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/amr.jpg') }}" alt="" />
            <h3>Amr Zanaty</h3>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/eslaMaged">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/eslam.jpg') }}" alt="" />
                <h3>Eslam Maged</h3></a>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/heba.aamer.355?fref=ts">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/img-2.jpg') }}" alt="" />
                <h3>Heba Aamer</h3></a>

        </div>
    </div>

</div>
<div class="item">


    <div class="span2 offset1 flyIn">
        <div class="people">
            <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/kareem.jpg') }}" alt="" />
            <h3>Karem Wahby</h3>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/mahmoud.gamal.1485?fref=ts">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/mahmodGamal.jpg') }}" alt="" />
                <h3>Mahmoud Gamal</h3></a>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/mansour.sa3ed.mansour?fref=ts">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/mansour.jpg') }}" alt="" />
                <h3>Mansour Saied</h3></a>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/mennatarek92?fref=ts">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/Menna.jpg') }}" alt="" />
                <h3>Menna Tarek</h3></a>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/jackie.jpg') }} " alt="" />
            <h3>Mohamed Ayman</h3>

        </div>
    </div>

</div>

<div class="item">


    <div class="span2 offset1 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/MuhammadBassem1?fref=ts">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/bassem.jpg') }}" alt="" />
                <h3>Mohamed Bassem</h3></a>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/essam.jpg') }}" alt="" />
            <h3>Mohamed Essam</h3>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/microfarghal?fref=ts">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/avatar.jpg') }} " alt="" />
                <h3>Mohamed Farghal</h3></a>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/shaban.jpg') }}" alt="" />
            <h3>Mohamed Shaban</h3>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/mohamed.zayan.526?fref=ts">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/zayan.jpg') }} " alt="" />
                <h3>Mohamed Zayan</h3></a>

        </div>
    </div>

</div>

<div class="item">


    <div class="span2 offset1 flyIn">
        <div class="people">
            <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/axis.jpg') }} " alt="" />
            <h3>Mustafa Ahmed</h3>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/mysarah.salah?fref=ts">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/mysarah.jpg') }}" alt="" />
                <h3>Mysarah Salah</h3></a>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/nader.jpg') }} " alt="" />
            <h3>Nader Nesseim</h3>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/oa12gb?fref=ts&ref=br_tf">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/omar.jpg') }}" alt="" />
                <h3>Omar Azazy</h3></a>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/img-2.jpg') }}" alt="" />
            <h3>Salma Amr</h3>

        </div>
    </div>

</div>

<div class="item">

    <div class="span2 offset1 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/salma.khaled28?fref=ts">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/salmaKhaled.jpg') }}" alt="" />
                <h3>Salma Khaled</h3></a>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <a href="https://www.facebook.com/saraalaa.khodeir?fref=ts">
                <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/sara.jpg') }}" alt="" />
                <h3>Sara Khodeir</h3></a>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/nada.jpg') }} " alt="" />
            <h3>Omar Nada</h3>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/thomas.jpg') }}" alt="" />
            <h3>Thomas Schindler</h3>

        </div>
    </div>
    <div class="span2 flyIn">
        <div class="people">
            <img class="team-thumb img-circle" src="{{ asset('bundles/megasoftentangle/img/team/img-3.jpg') }} " alt="" />
            <h3>Amal Hany</h3>

        </div>
    </div>

</div>
</div>
<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
</div>

</div>
<!-- /.container -->
</section>
<!-- end section: team -->
<!-- section: services -->
<section id="download" class="section orange">
    <div class="container">
        <h4>Download</h4>
        <!-- Four columns -->
        <div class="row">
            <div class="span3 animated flyIn">
                <div class="service-box span8 offset0  ">
                    <img src="{{ asset('bundles/megasoftentangle/img/icons/googlePlay1.png') }}" alt="" />
                    <h2>Android</h2>
                    <p>
                        Get our application from play store today!
                    </p>
                </div>
            </div>
            <div class="span3 animated flyIn">
                <div class="service-box span8 offset2">
                    <img src="{{ asset('bundles/megasoftentangle/img/icons/appStore1.png') }}" alt="" />
                    <h2>iOS</h2>
                    <p>
                        Get our application from app store today!
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end section: services -->

<!-- spacer section -->
<section class="spacer bg3">
    <div class="container">
        <div class="row">
            <div class="span12 aligncenter flyLeft">
                <blockquote class="large">
                    We will provide groups of people like families, organizations, universities, friends, schools, etc with
                    a tool to set up a mutual credit systems and use those in their everyday lives. !

                </blockquote>
            </div>
            <div class="span12 aligncenter flyRight">
                <i class="icon-rocket icon-10x"></i>
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->
<!-- section: contact -->
<section id="register" class="section green">
    <div class="container">
        <h4>Register</h4>
        <p>
            Why don't you give it a try? <br />
            It is free. <br/>
            Join us <b>now</b>
        </p>
        <div class="blankdivider30">
        </div>
        <div class="row">
            <div class="span12">
                <div class="cform" id="contact-form">
                    <form  class="" method="POST" enctype='multipart/form-data' role="form"  action="{{ path('megasoft_entangle_register_') }}">
                   <div class="row">
                            <div class="span6">
                                <div class="field your-name">
                                    <input type="text" name="your-name" placeholder="Your Name" class="cform-text" size="40" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation">
                                    </div>
                                </div>
                                <div class="field your-email">
                                    <input type="text" name="your-email" placeholder="Your Email" class="cform-text" size="40" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation">
                                    </div>
                                </div>
                                <div class="field subject">
                                    <input type="password" name="password" placeholder="Password" class="cform" size="40" data-rule="maxlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation">
                                    </div>
                                </div>
                                <div class="field subject">
                                    <input type="password" name="cp" placeholder="Confirm Password" class="cform" size="40" data-rule="maxlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation">
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="field message">
                                    <textarea name="message" placeholder="About you" class="cform-textarea" cols="40" rows="10" data-rule="required" data-msg="Please write something about you"></textarea>
                                    <div class="validation">
                                    </div>
                                </div>
                                <input type="submit" value="Submit" class="btn btn-theme pull-left">
                                <p>{{ status }}</p>
                                <p>{{ message }}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ./span12 -->
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <ul class="social-networks">
                    <li><a href="#"><i class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
                    <li><a href="https://twitter.com/EntangleIO"><i class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
                    <li><a href="#"><i class="icon-circled icon-bgdark icon-dribbble icon-2x"></i></a></li>
                    <li><a href="#"><i class="icon-circled icon-bgdark icon-pinterest icon-2x"></i></a></li>
                </ul>
                <p class="copyright">
                    &copy; 2014 Entangle Inc corporate. All rights reserved.
                </p>
            </div>
        </div>
    </div>
    <!-- ./container -->
</footer>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
<!-- jQuery -->
<script src="{{ asset('bundles/megasoftentangle/js/jquery.js') }}"></script>
<!-- nav -->
<script src="{{ asset('bundles/megasoftentangle/js/jquery.scrollTo.js') }}"></script>
<script src="{{ asset('bundles/megasoftentangle/js/jquery.nav.js') }} "></script>
<!-- localScroll -->
<script src="{{ asset('bundles/megasoftentangle/js/jquery.localscroll-1.2.7-min.js') }}"></script>
<!-- bootstrap -->
<script src="{{ asset('bundles/megasoftentangle/js/bootstrap.js') }}"></script>
<!-- prettyPhoto -->
<script src="{{ asset('bundles/megasoftentangle/js/jquery.prettyPhoto.js') }}"></script>
<!-- Works scripts -->
<script src="{{ asset('bundles/megasoftentangle/js/isotope.js') }} "></script>
<!-- flexslider -->
<script src="{{ asset('bundles/megasoftentangle/js/jquery.flexslider.js') }}"></script>
<!-- inview -->
<script src="{{ asset('bundles/megasoftentangle/js/inview.js') }}"></script>
<!-- animation -->
<script src="{{ asset('bundles/megasoftentangle/js/animate.js') }}"></script>
<!-- twitter -->
<script src="{{ asset('bundles/megasoftentangle/js/jquery.tweet.js') }}"></script>
<!-- contact form -->
<script src="{{ asset('bundles/megasoftentangle/js/validate.js') }}"></script>
<!-- custom functions -->
<script src="{{ asset('bundles/megasoftentangle/js/custom.js') }}"></script>
</body>
